
<nav class="navbar navbar-expand-lg fixed-top"style="background-color: #0ABBEF;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><font style="vertical-align: inherit;"><img src="https://upload.wikimedia.org/wikipedia/fr/thumb/b/b9/Universit%C3%A9_d%27Angers_%28logo%29.svg/640px-Universit%C3%A9_d%27Angers_%28logo%29.svg.png" width="50px"> </font></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto"> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/etudiant"><font style="vertical-align: inherit;margin-left:30px;"><img src="https://cdn-icons-png.flaticon.com/512/46/46955.png" width="40px" title="Gestion des etudiants" legend="Gestion des etudiants"> </font><br><div>étudeiant</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><font style="vertical-align: inherit;margin-left:30px;"><img src="https://cdn-icons-png.flaticon.com/512/4812/4812809.png"  width="40px" title="Gestion des note" > </font><br><div>notes</div></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/maquette"><font style="vertical-align: inherit;margin-left:30px;"><img src="https://cdn-icons-png.flaticon.com/512/4834/4834739.png" width="40px" title="Gestion maquette" > </font><br><div >maquette</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><font style="vertical-align: inherit;margin-left:30px;"><img src="https://www.freeiconspng.com/thumbs/analytic-icon/black-chart-grawth-monitoring-report-screen-statistics-icon-30.png" width="40px" title="Analytics" > </font></a>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit; margin-left:30px">
          <img src="https://cdn-icons-png.flaticon.com/512/3106/3106921.png" width="40px" title="Profil" >
          </font></a>
          <div class="dropdown-menu">
            <p style="margin-left:30px; "></p>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">modifier le profil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">se deconnecter</a>
           
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><font style="vertical-align: inherit;margin-left:30px;"><img src="https://cdn-icons-png.flaticon.com/512/2948/2948059.png" width="40px" title="A propos" > </font></a>
          </li>
    
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Rechercher un etudiant">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;">Recherche </font></button>
      </form>
    </div>
  </div>
</nav>
<script src="https://kit.fontawesome.com/0ebbe03699.js" crossorigin="anonymous"></script>