{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<h1 class="text-center bienv" style="margin-top:30px;"><b>Bienvenue sur le site de gestion des étudiants</b></h1>
<br>
<br>
<br>
<br>
<br>
<div style="display:flex; justify-content: center; gap: 70px; margin-top: 20px; margin-bottom: 20px;aling-items:center;text-align:center;">
  <div class="card text-white " style="width: 300px;height:400px;" url="/etudiant">
    <div class="card-header mb-3 bg-primary"><b>Gestion des étudiants</b></div>
    <div class="card-body">
      <h4 class="card-title"><b></b></h4>
      <br>
      <p class="card-text"><i>L'action de gestion des étudiants simplifie le suivi et l'organisation des étudiants en les regroupant par filière ou groupe, et permet d'accéder facilement aux informations individuelles des étudiants pour une gestion administrative et pédagogique efficace.</i></p>
    </div>
  </div>

  <div class="card text-white " style="max-width: 20rem;" url="/notes">
    <div class="card-header mb-3 bg-primary"><b>Gestion des notes</b></div>
    <div class="card-body">
      <h4 class="card-title"><b></b></h4>
      <br>
      <p class="card-text"><i>L'action de récupérer les notes par critères (périodes, années...) offre une vue d'ensemble des performances des étudiants, aidant les enseignants et les responsables à évaluer l'évolution des résultats, détecter des tendances et prendre des décisions éclairées.</i></p>
    </div>
  </div>

  <div class="card text-white " style="max-width: 20rem;" url="/maquette">
    <div class="card-header mb-3 bg-primary"><b>Gestion des maquettes</b></div>
    <div class="card-body">
      <h4 class="card-title"><b></b></h4>
      <br>
      <p class="card-text"><i>L'action de gestion des maquettes facilite l'organisation des filières, unités, matières et blocs au sein de l'institution, permettant une meilleure coordination des programmes académiques. Elle centralise les informations, simplifiant ainsi la planification et la gestion des programmes d'études.</i></p>
    </div>
  </div>

  <div class="card text-white " style="max-width: 20rem;">
    <div class="card-header mb-3 bg-primary"><b>Statistiques</b></div>
    <div class="card-body">
      <h4 class="card-title"><b></b></h4>
      <br>
      
      <p class="card-text"><i>L'action de statistiques génère des données sur les étudiants selon des critères spécifiques, comme les notes ou les choix. Cela permet une analyse approfondie des performances, aidant à identifier les tendances et à prendre des décisions pour améliorer l'enseignement et l'accompagnement des étudiants.</i></p>
    </div>
  </div>
</div>
<style>
.card-text{                                                                                                                                     
    color:black;
}
.bienv{
  
}
.card:hover {
  transform: scale(1.1);
  z-index: 1;
    box-shadow: 0 0 10px #00c2ff,
               0 0 10px #00c2ff,
               0 0 10px #00c2ff;
  border:none;
}

</style>
<script>
document.querySelectorAll('.card').forEach(e=>{
  e.onclick = function(){
    location.href = e.getAttribute('url')
  }
})
</script>
<style>
.card:hover{
  cursor:pointer;
}
</style>
{% endblock %}

