
{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<h1 class="text-center bienv" style="margin-top:30px;"><b>Bienvenue sur le site de gestion des étudiants</b></h1>
<br>
<br>
<br>
<br>
<br>
<head></head>
<body>
    
</body>
<div class="cards">
<div url="/etudiant" style="display: flex; justify-content: center; gap: 70px; margin-top: 20px; margin-bottom: 20px; align-items: center; text-align: center;">
    <img class="card" url="/etudiant" style="width: 450px; height: 400px;" src="https://cdn.discordapp.com/attachments/1083458904282910802/1109828631045349426/WhatsApp_Image_2023-05-21_at_00.38.11.jpg">
</div>
<div url="/note" style="display: flex; justify-content: center; gap: 70px; margin-top: 20px; margin-bottom: 20px; align-items: center; text-align: center;">
    <img class="card" url="/note" style="width: 450px; height: 400px;" src="https://cdn.discordapp.com/attachments/1083458904282910802/1109828644072853514/WhatsApp_Image_2023-05-21_at_00.38.25.jpg">
</div>
<div  url="/maquette" style="display: flex; justify-content: center; gap: 70px; margin-top: 20px; margin-bottom: 20px; align-items: center; text-align: center;">
    <img class="card" url="/maquette" style="width: 450px; height: 400px;" src="https://cdn.discordapp.com/attachments/1083458904282910802/1109828661684748519/WhatsApp_Image_2023-05-21_at_00.38.41.jpg">
</div>
<div url="/statistique" style="display: flex; justify-content: center; gap: 70px; margin-top: 20px; margin-bottom: 20px; align-items: center; text-align: center;">
    <img class="card" url="/statistique"style="width: 450px; height: 400px;" src="https://cdn.discordapp.com/attachments/1083458904282910802/1109828669486145616/WhatsApp_Image_2023-05-21_at_00.38.47.jpg">
</div>
</div>

<style>
.card-text{                                                                                                                                     
    color:black;
}
.bienv{
  
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.cards > * {
  flex: 0 0 calc(25% - 20px); 
  margin: 10px;
}



.card:hover {
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0 0 20px #00c2ff, 0 0 20px #00c2ff, 0 0 20px #00c2ff;
  border: none;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}


</style>
<script>
document.querySelectorAll('.card').forEach(e=>{
  e.onclick = function(){
    location.href = e.getAttribute('url')
  }
})
</script>
<style>
.card:hover{
  cursor:pointer;
}
</style>
{% endblock %}




