{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<h1 class="text-center" style="margin-top:30px;">Bienvenu sur le site de gestion étudiants</h1>

{% endblock %}

