{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<div  class="container">
<div class="row justify-content-md-center"style="height: 25%;" id="tete">
{% for filiere in filieres %}
            <button type="button" class="col-md-auto" style="background-color: #0ABBEF;width:300px;margin-top:50px;" 
             onclick="tri(this)" data-filiere="{{filiere}}" data-groupes="{{ groupes|json_encode }}">{{filiere}}</button>
        {% endfor %}
        </div>
        </div>
        <script>
          function tri(element){
            var filiere = element.getAttribute("data-filiere");
       document.querySelector('#tete').innerHTML =""
       +"<button type=\"button\" class=\"col-md-auto\" style=\"background-color: #0ABBEF;width:300px;margin-top:50px; onclick=\"\">Tri sans groupe</button>"
       +"<button type=\"button\"class=\"col-md-auto\" style=\"background-color: #0ABBEF;width:300px;margin-top:50px;\" id=\"vulka\" data-groupes=\"{{ groupes|json_encode }}\" onclick=\"affichegroupe(this)\">Tri avec groupe</button>";
        document.querySelector('#vulka').setAttribute("data-filiere", filiere)
          }
         
        function extraireSousChaine(chaine) {
  var sousChaine = chaine.match(/\bl1\b/i);
  return sousChaine ? sousChaine[0] : null;
}


function verifierPresenceSousChaine(sousChaine, chaine) {
  for (var i = 0; i < sousChaine.length; i++) {
    if (chaine.indexOf(sousChaine[i]) === -1) {
      return false;
    }
  }
  return true;
}

      function affichegroupe(element){
         var groupes=JSON.parse(element.getAttribute('data-groupes'));
         var filiere = element.getAttribute("data-filiere");
          var text=""
    groupes.forEach(groupe => {
        
        if(verifierPresenceSousChaine(groupe.match(/^[l|d|m]\d/i)[0],filiere))
         text+="<button type=\"button\" class=\"col-md-auto\" style=\"background-color: #0ABBEF;width:300px;margin-top:50px;\" class=\"grk\" onclick=\"redirect(this)\"+groupe+"\";\">"+groupe+"</button>"
       });
       document.querySelector('#tete').innerHTML =text
       document.querySelector('.grk').foreach(element=>{
        
       })setAttribute("data-filiere", filiere)
      }  
      function redirect(element){
        window.location.href = "/etudiants/groupe=";
      }
        </script>
{% endblock %}

