{% extends 'styles.html.twig' %}

{% block title %}Modifier Filiere{% endblock %}

{% block body %}
    <a style="float:left;margin:20px"href="{{ path('app_filiere_index') }}"><i class="fa-sharp fa-solid fa-arrow-left fa-2xl" ></i></a>

    <center>
    <h1>Modifier Filiere</h1>
    </center>
    {{ include('filiere/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
