{% extends 'base.html.twig' %}

{% block title %}Note index{% endblock %}

{% block body %}
  <h1>Gestion des notes</h1>
  <br>
  <a href="{{path('app_home')}}" class="btn btn-primary">Saisie des notes</a>
        <span style="margin-right:40px;"></span>

    <a href="{{path('consultation_notes')}}" class="btn btn-primary">Consultation des notes</a>

{% endblock %}
