{% extends 'base.html.twig' %}

{% block title %}Nouvelle Note{% endblock %}

{% block body %}
<center>
    <h1>Insertion</h1>

    {{ include('note/_form.html.twig') }}

    <a href="{{ path('app_note_index') }}">Retour</a>
</center>
{% endblock %}
