{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
<script src='https://www.hCaptcha.com/1/api.js' async defer></script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Modifier User</h1>
            <form method="POST" action="{{ path('app_modifier_action') }}">
                <div class="mb-3">
                    <label for="email" class="form-label">Adresse mail</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="last_password" class="form-label">Mot de passe actuelle</label>
                    <input type="password" class="form-control" id="last_password" name="last_password" required>
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">Nouveau mot de passe </label>
                    <input type="password" class="form-control" id="new_password" name="new_password" required>
                </div>
                <div class="h-captcha" data-sitekey="0af818ef-771e-4653-a0cc-a62ca017789b"></div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
