{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">
                <i class="fas fa-check-circle text-success"></i>
            </h1>
            <h2 class="text-success">Success!</h2>
            <p>User details have been successfully modified.</p>
            <a href="/" class="btn btn-primary">Page d'acceuil</a>
        </div>
    </div>
</div>
{% endblock %}
