<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <style>
    /* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #242526;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #ccc;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}


body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

body.dark img{
    background-color: black;
}
body{
    font-weight: bolder;
}
/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 250px;
    left: 200rem;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}
    </style>
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/0ebbe03699.js" crossorigin="anonymous"></script>
    <title>Gestion des étudiants</title> 
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="https://media.discordapp.net/attachments/1083458904282910802/1101243598760067082/logo.png?width=354&height=354" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">{{ username }}</span>
                    <span class="profession">Responsable</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar dark">
            <div class="menu">



                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/">
                            <i class="fa-solid fa-house icon"></i>
                            <span class="text nav-text">Acceuil</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/etudiants">
                            <i class="fa-solid fa-graduation-cap icon"></i>
                            <span class="text nav-text">Etudiants</span>
                        </a>
                    </li>


                    <li class="nav-link">
                        <a href="/analytics">
                            <i class="fa-sharp fa-solid fa-chart-pie icon"></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="javascript:decont()">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Se déconnecter</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-sun icon sun'></i>
                        <i class='bx bx-moon icon moon'></i>
                      
                    </div>
                    <span class="mode-text text">modeSombre</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <section class="home">
        <center>
           
            <h1 class="titre_" id="titre">Choisir le niveau</h1>
        <div style="display:flex;" class="cards" id="niv">
            <button class="btn" onclick="handle_(this)">
                <p class="text_grad">L1</p>
            </button>
            <button class="btn" onclick="handle_(this)">
                <p class="text_grad">L2</p>
            </button>
            <button class="btn" onclick="handle_(this)">
                <p class="text_grad">L3</p>
            </button>
            
        </div>
        <div style="display:flex;" class="cards" id="tri">

            
        </div>
        </center>
    </section>
    <footer>
        <ul>
            <li>
                <p>Bienvenue sur le site de gestion des étudiants</p>
            </li>
        </ul>
    </footer>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
        *{font-family: 'Montserrat', sans-serif;}
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100px;
            background-color: #0ABBEF;
            color: #fff;
            padding: 35px;
            text-align: center;

        }
        footer p {
            color: #fff;
            text-decoration: none;
            transition: color 0.2s ease-in-out;
            font-size: 25px;
        }



        footer img {
            max-width: 100%;
            height: auto;
            margin: 10px;
        }
        .search {
            position: absolute;
            top: 10px;
            right: 10px;
        }
            input{
        border-radius: 20px;
        width: 700px;
        padding:10px 10px;
        background-color: inherit;
        border:1px solid #bbb;
        color:white;
    }
    input:focus {
        border:1px solid cornflowerblue;
        outline:none;
    }
    input:focus{
    outline:none;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
    input:-webkit-autofill{
        -webkit-text-fill-color: dark;
    }

        .text_grad{
            background: #006ECF;
            background: linear-gradient(to right, #006ECF 16%, #46BDCF 45%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
            font-size: 100px;
        }
        .cards{
            margin: 0 auto;
            padding-right:4rem;
        }
        .titre_{
            background: #4BCF88;
            background: linear-gradient(to right, #4BCF88 16%, #1968CF 45%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
            font-size: 60px;
            margin-bottom:100px;
        }
        .btn {
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            width:fit-content;
            margin:0 auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 10px;
            transition: transform 0.3s ease-in-out;
            transform-origin: center center;
            cursor:pointer;
        }
        .btn:hover {
            transform: scale(1.1);
            z-index: 1;
        }
        .btn:not(:hover) {
            filter: blur(0px);
            opacity: 0.7;
        }


    </style>
    <script>
        const ctx = document.getElementById('analys');
      
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
      
    <script>
const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      //searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");
body.classList.toggle("dark");
document.querySelector('.sun-moon').innerHTML = "<i class='bx bx-moon icon sun'></i>"


toggle.addEventListener("click" , () =>{
    sidebar.classList.toggle("close");
})

/*searchBtn.addEventListener("click" , () =>{
    sidebar.classList.remove("close");
})*/
function handle_(t){
    document.querySelector("#titre").textContent = ""
    localStorage.setItem("niveau",t.textContent)
    document.querySelector('.cards').innerHTML = `
    <button class="btn" onclick="handle_tri(this)">
                <p class="text_grad">Sans tri</p>
                <p class="text_grad">de groupe</p>
            </button>
            <button class="btn" onclick="handle_tri(this)">
                <p class="text_grad">Par</p>
                <p class="text_grad">groupe</p>
    </button>
    `
}
function handle_tri(t){
    document.querySelector("#titre").textContent = ""
    localStorage.setItem("tri",t.textContent)
    document.querySelector('.cards').innerHTML = `
    <div class="text_grad">
    <strong>Niveau : </strong>${localStorage.getItem('niveau')}<br>
    <strong>Tri : </strong>${localStorage.getItem('tri')}
    </div>
    `
}
modeSwitch.addEventListener("click" , () =>{
    body.classList.toggle("dark");
    
    if(body.classList.contains("dark")){
        modeText.innerText = "mode Sombre";
        document.querySelector('.sun-moon').innerHTML = "<i class='bx bx-moon icon sun'></i>"
    }else{
        modeText.innerText = "mode Claire";
        document.querySelector('.sun-moon').innerHTML = "<i class='bx bx-sun icon moon'></i>"

    }
});
function decont(){
    document.cookie = "token=."
    location.href = "/login"
}

    function hover_effect(e){
        document.querySelectorAll('.cards.btn').forEach(card=>{
            if (card.id != e.id){
              card.style.filter = "blur(5px)";
            }
        })
      }
    function remove_hover_effect(e){
        document.querySelectorAll('.card').forEach(card=>{
            card.style.filter = "blur(0px)";
        })
    }
    document.querySelectorAll('.cards.btn').forEach(e=>{
        e.addEventListener('onmouseenter',function(){
            hover_effect(this)
        })
        e.addEventListener('onmouseleave',function(){
            remove_hover_effect(this)
        })
    })
    
    
    </script>

</body>
</html>