{% extends 'base.html.twig' %}

{% block title %}Les filères des étudiants{% endblock %}

{% block body %}
<p  style="margin-top:20px;margin-left:15px;">
    <a href="javascript:void(0)" onclick="retourPage()">
        <i class="fa-sharp fa-solid fa-arrow-left-long fa-2xl" style="color: #0abbef;"></i> 
        <b style="margin-left:10px;width:50px;"title="Cliquer pour revenir en arrère" >revenir en arrière</b>
    </a>
</p>
<h1 class="text-center"style="color: #0ABBEF;margin-top:10px;text-decoration : underline solid 2px;margin-bottom:35px">Veuillez choisir la filière</h1>

        <div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
    {% for filiere in filieres %}
    {% set nomfiliere = filiere.nomfiliere %}
      <button class="btn filiere" data-groupe="{{ path('app_etudiant_filiere', {'nomfiliere': nomfiliere}) }}" style="background-color: #0ABBEF;width:400px;margin:10px"title="Cliquer pour visualiser les étudiants de cette filière">{{nomfiliere}}</button>
      {% endfor %}
    </div>
  </div>
</div>
        
        <script>
          document.querySelectorAll(".filiere").forEach(element=>{
    element.addEventListener('click', function() {
      const url = element.getAttribute('data-groupe');
     window.location.href = url;
   
  });

          });

function retourPage() {
  window.history.back();
}

    
        </script>
{% endblock %}

