{% extends 'base.html.twig' %}

{% block title %}New Etudiant{% endblock %}
{% block body %}
<p  style="margin-top:35px;margin-left:15px;">
    <a href="{{ path('app_etudiant_newetudiant') }}">
        <i class="fa-sharp fa-solid fa-arrow-left-long fa-2xl" style="color: #0abbef;"></i> 
        <b style="margin-left:10px;width:50px;"title="Cliquer pour revenir en arrère" >revenir en arrière</b>
    </a>
</p>
     {% set legend = "Formulaire de creation " %}

    {{ include('etudiant/_form.html.twig') }}

{% endblock %}
